<!-- <h1>Messages#index</h1> -->
<!-- <p>Find me in app/views/messages/index.html.erb</p> -->

<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <%= message.age %>才
      (<%= link_to "edit" , edit_message_path(message) %>
       <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
      )
      <br>
    <% end %>
  </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>


<!-- <<<<<<< HEAD -->
<!-- ======= -->
<!-- <%= form_for(@message, :html => {class: 'form-horizontal'}) do |f| %> -->
<!--   <div class="form-group"> -->
<!--     <label for="message_name" class="col-sm-2 control-label">Name</label> -->
<!--     <\!-- <div class="col-sm-10"> -\-> -->
<!--     <div class="col-xs-3"> -->
<!--       <%= f.text_field :name, :class=>"form-control" , :style=>".col-xs-3"%> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="form-group"> -->
<!--     <label for="message_body" class="col-sm-2 control-label">Comment</label> -->
<!--     <\!-- <div class="col-sm-10"> -\-> -->
<!--     <div class="col-xs-5"> -->
<!--       <%= f.text_area :body, :class=>"form-control", :style=>"col-xs-5" %> -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="form-group"> -->
<!--     <div class="col-sm-offset-2 col-sm-10"> -->
<!--       <button type="submit" class="btn btn-default">Enter</button> -->
<!--     </div> -->
<!--   </div> -->
<!-- <% end %> -->

  
<!-- >>>>>>> challenge1 -->